{{>header}}
    <div class="body">
         <div class="body__header"> 
            <p class="body__title">Formulario para registrar un aplicante</p>
            <p class="body__subtitle">Utilice este formulario para ingresar un nuevo aplicante a un curso </p>
        </div>
        <form action="/applicant/new" method="POST">
            <div class="body__form--inline">
                <div class="body__input">
                    <label>Documento de identidad</label>
                    <input type="hidden" value="{{id}}" />
                    <input type="number" class="form-control" name="document" value="{{document}}" required />
                </div>
                <div class="body__input">
                    <label>Nombre aspirante</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required/>
                </div>
            </div>
             <div class="body__form--inline">
                <div class="body__input">
                    <label>correo electrónico</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required/>
                </div>
                <div class="body__input">
                    <label>Telefóno</label>
                    <input type="number" class="form-control" name="phone" value="{{phone}}" required/>
                </div>
            </div>
            <div class="body__form--inline">
                <div class="body__input--100">
                    <label>Cursos disponibles</label>
                    <select name="course" class="form-control" required>
                        <option>-</option>
                        {{#courses}}
                        <option value={{id}}>{{name}}</option>
                         {{/courses}}
                    </select>
                </div>
            </div>
            <div class="body__buttons">
                <button type="submit" class="button body__button--success">Crear aspirante</button>
                <button type="button" class="button body__button">Cancelar</button>
            </div>
        </form>
    </div>
{{>footer}}